.dropdown {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  padding: 8px;
  outline: none;

  width: 256px;
  height: 40px;
  left: 8px;
  top: 8px;

  /* white */

  background: #ffffff;
  /* gray */

  border: 1px solid #888888;
  border-radius: 8px;
}
.dropdown__option {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.dropdown--focus {
    border-color: var(--blue-color);
    box-shadow: 0px 0px 6px var(--blue-color);
}