.white {
  background: white;
  min-width: 1175px;
}

.margin-16 > * {
  margin: 16px 8px;
}

@media only screen and (max-width: 768px) {
  .white {
    min-width: 666px;
  }
  .main {
    width: auto;
  }
  .banner {
    width: 100%;
  }
  .br.responsive {
    display: none;
  }
  .white {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex.responsive {
    flex-direction: column-reverse;
    align-items: center;
  }
}