.card {
    width: 300px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 16px;
}

.card__photo {
    margin-bottom: 0;
    width: 300px;
    height: 200px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(https://www.creativefaze.com/sites/default/files/Technique-for-Faster-Web-Development.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card__content {
    box-sizing: border-box;
    padding: 16px;
    margin-bottom: 0;
}

.card__heading {
    font-size: 20px;
    font-family: var(--headings-font);
}

.card__paragraph {
    font-family: var(--body-font);
}