.tabs {
    border: 2px solid var(--light-color)
}



.tabs__list * {
    list-style: none;
    text-decoration: none;
    font-family: var(--body-font);
    color: var(--black-color);
    margin-bottom: 0;
}

.tabs__list-item {
    text-align: center;
    padding: 16px;
    width: 170px;
}

.tabs__icon {
    color: var(--gray-color);
    float: right;
}

.tabs__list-item:hover {
    background: #E6F7FF;
}

.tabs__link:hover {
    color: #1890FF;
}

.tabs__link-arrow {
    float: right;
}


/* tabs list order */
.tabs__list--row {
    display: flex;
    flex-direction: row;
}

.tabs__list--row * {
    color: var(--gray-color);
    background: var(--light-color);
    border-radius: 2px 2px 0px 0px;
    border: 1px solid var(--gray-color);
    border-bottom: none;
    padding: 8px 16px;
    margin-right: 16px;
}

.tabs__list--row:hover > * {
    background: var(--light-color);
}

.tabs__list-item--hover:hover {
    color: var(--blue-color);
}

.tabs__list-item--active:active {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.tabs__list--items * {
    background: white;
    font-family: var(--headings-font);
    font-size: 20px;
    color: var(--black-color);
    font-weight: 600;
    padding: 8px 16px;
    border: 2px solid var(--light-color);
}

.tabs__list-items--hover:hover {
    background: var(--light-color);
}

.tabs__list-items--active:active {
    color: white;
    background: var(--blue-color);
}